<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password forgot</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        .error-message {
            color: #a94442;
        }

        .error-message:first-letter {
            text-transform: capitalize;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">

            <div th:if="${param.success}" class="alert alert-info">
                We have sent you an email!
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid email / there is no user with such email.
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <h1>Reset Password</h1>
                    <form th:action="@{/users/forgotPassword}" method="post">

                        <div class="form-group">
                            <input id="email"
                                   name="email"
                                   placeholder="email"
                                   class="form-control"
                                   type="email"/>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Reset password</button>
                            <br>
                            <span><a href="/users/login" th:href="@{/users/login}">Return to login page</a></span><br>
                            <span><a href="/library/main" th:href="@{/library/main}">Return to main page</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>