<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        .error-message {
            color: #a94442;
        }

        .error-message:first-letter {
            text-transform: capitalize;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">

            <div th:if="${param.success}" class="alert alert-info">
                Your password has been successfully reset.
            </div>

            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">

                    <h1>Reset Password</h1>
                    <form th:action="@{/users/resetPassword}" th:object="${user}" method="post">

                        <p class="error-message"
                           th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}"
                           th:text="${error}">Validation error</p>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <input id="password"
                                   placeholder="new password"
                                   class="form-control"
                                   type="password"
                                   th:field="*{password}"/>
                            <p class="error-message"
                               th:each="error : ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                            <input id="confirmPassword"
                                   placeholder="confirm new password"
                                   class="form-control"
                                   type="password"
                                   th:field="*{confirmPassword}"/>
                            <p class="error-message"
                               th:each="error : ${#fields.errors('confirmPassword')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Reset password</button>
                            <br>
                            <span><a href="/users/login" th:href="@{/users/login}">Login here</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>