<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<aside th:fragment="side" class="p-3 col-xl-2 col-lg-3 col-md-2 col-sm-1" style="background-color: lightslategray">
    <label></label>
    <input>
    <button type="button" class="btn btn-secondary">Search</button>
    <br><br>
    Category:
    <br>
    <tr th:each="bookitem: ${listOfBooks}">
        <input type="checkbox" aria-label="Checkbox for following text input"
               th:text="${bookitem.getSubject()}">
        <br>
    </tr>
</aside>
</body>
</html>